[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart=/usr/bin/python /apps/couchpotato/CouchPotato.py --daemon --data_dir=/apps/couchpotato/app-config --pid_file=/apps/couchpotato/app-config/couchpotato.pid
Type=forking
TimeoutSec=200
KillMode=process
Restart=on-failure
Nice=20
User=admin
Group=admin
PIDFile=/apps/couchpotato/app-config/couchpotato.pid

[Install]
WantedBy=multi-user.target
