#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_ALWAYS_EXCLUDE=.git


DESTDIR = $(CURDIR)/debian/couchpotato

%:
	dh $@

override_dh_install:
	cp -R $(CURDIR)/rn-files/* ${DESTDIR}/apps/couchpotato
	mkdir -p $(CURDIR)/git-files
	if [ -d ./git-files/couchpotato ]; then git --git-dir=./git-files/.git pull; fi
	if [ ! -d ./git-files/couchpotato ]; then git clone https://github.com/CouchPotato/CouchPotatoServer.git ./git-files; fi
	cp -R $(CURDIR)/git-files/* ${DESTDIR}/apps/couchpotato/bin/

# override_dh_clean:
	# dh_clean
	# dpkg-buildpackage -rfakeroot -Tclean
