<Application resource-id="couchpotato"><!-- 'resource-id' must be AppName -->
  <Category>APP_CAT_PRODUCTIVITY</Category>
  <Name>CouchPotato Server</Name>
  <Author>Mhynlo</Author>
  <Version>2017.12.10-ml0</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL>http://localhost:5050/</LaunchURL>
  <ReservePort>5050</ReservePort>
  <InfoURL>https://couchpota.to/</InfoURL>
  <DebianPackage>couchpotato</DebianPackage>
  <ServiceName>fvapp-couchpotato.service</ServiceName>
  <Description lang="en-us">Automatic Movie Downloading via NZBs and Torrents.</Description>
</Application>
