<Application resource-id="couchpotato"><!-- 'resource-id' must be AppName -->
  <Name>CouchPotatoServer</Name>
  <Author>Mhynlo</Author>
  <Version>3.0.1-1</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL>http://localhost:5050/</LaunchURL>
  <ReservePort>5050</ReservePort>
  <InfoURL>https://couchpota.to/</InfoURL>
  <DebianPackage>couchpotato</DebianPackage>
  <ServiceName>fvapp-couchpotato.service</ServiceName>
  <Description lang="en-us">Automatic Movie Downloading via NZBs and Torrents.</Description>
</Application>
