[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /apps/couchpotato/bin/CouchPotato.py --data_dir=/apps/couchpotato/app-config
Restart=on-failure
Nice=18
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
